{% extends "layout.html" %}

{% block content %}
{% raw %}
<div id="app" class="ui middle aligned stackable grid">
    <div class="row">
        <div class="column">
            <h1 class="ui header">
                <a href="/" tabindex="-1">
                    <div class="content">
                        <i class="bar chart icon"></i>
                        Dancealytics
                        <div class="sub header">Consumable interface for song analytics from Spotify.</div>
                    </div>
                </a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui fluid search">
                <div class="ui fluid icon big input">
                    <input class="prompt" type="text" placeholder="Artist, Song, whatever">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>

    <template .v-cloak>
    <div class="analysis row" v-if="analysis">
        <div class="five wide column">
            <div class="ui centered fluid card">
                <div class="image">
                    <img :src="track.image">
                </div>
                <div class="content">
                    <div class="left floated">
                        <div class="header">{{ track.title }}</div>
                        <div class="meta"><strong>{{ track.album }}</strong></div>
                        <div class="meta">{{ track.artist }}</div>
                    </div>
                    <span class="right floated">
                        <a :href="'https://open.spotify.com/track/' + track.id" target="_blank"><i class="big green spotify icon"></i></a>
                    </span>
                </div>
                <div class="extra content">
                    <span class="left floated">
                        <div>{{ analysis.duration_ms | millisecondsToTime }}</div>
                        <div>{{ analysis.tempo.toFixed() }} BPM</div>
                    </span>
                    <span class="right floated">
                        <div>Pitch Class: {{ analysis.key }}</div>
                        <div>Time Sig.: {{ analysis.time_signature }}</div>
                    </span>
                </div>
            </div>
        </div>

        <div class="eleven wide column">
            <template v-for="item in analysisCategories">
                <div :class="[item[1], 'ui', 'progress']" @click="selectedCategory = item[0]">
                    <div class="label">{{ item[0] }}</div>
                    <div :style="{ width: analysis[item[0]] * 100 + '%' }" class="bar"></div>
                </div>
                <div :class="[item[1], 'ui', 'attached', 'segment']" v-show="selectedCategory == item[0]">
                    {{ item[2] }}
                </div>
            </template>
        </div>
    </div>
    </template>

</div>
{% endraw %}
{% endblock %}
