@charset 'UTF-8';

html, body {
    height:100%;
}

.container {
    padding-top:4em;
}

.ui.progress {
    margin:0.5em 1em!important;
}

.ui.progress > .label {
    top:0;
    z-index:10;
    text-transform:capitalize;
}